@font-face {
  font-family: "TTFirsNeue";
  font-display: swap;
  src: local("TTFirsNeueRegular"), local("TTFirsNeue-Regular"), url("fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  font-display: swap;
  src: local("TTFirsNeueBold"), local("TTFirsNeue-Bold"), url("fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  font-display: swap;
  src: local("TTFirsNeueMedium"), local("TTFirsNeue-Medium"), url("fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("RobotoBold"), local("Roboto-Bold"), url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
  gap: 26px;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__container {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 991px) {
  .header__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.header__logo {
  grid-column: span 3;
}
@media (max-width: 1200px) {
  .header__logo {
    grid-column: span 2;
  }
}
.header__nav {
  grid-column: 4/span 7;
}
@media (max-width: 1200px) {
  .header__nav {
    grid-column: 3/span 5;
  }
}
@media (max-width: 991px) {
  .header__nav {
    grid-column: 1/span 4;
  }
}
@media (max-width: 479px) {
  .header__nav {
    grid-column: 1/span 4;
  }
}
.header__search {
  justify-self: end;
  grid-column: -2;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  gap: 30px;
}
@media (max-width: 575px) {
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
.hero__left-block {
  grid-column: span 2;
  grid-row: span 2;
}
.hero__right-top-block {
  grid-column: span 2;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .about__container {
    gap: 22px;
  }
  .about__container .about__block {
    grid-column: 1/span 2;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
  gap: 30px;
}
@media (max-width: 1200px) {
  .projects__list {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 24px;
  }
}
@media (max-width: 991px) {
  .projects__list {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 24px;
  }
}
@media (max-width: 479px) {
  .projects__list {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
.projects__list-item {
  grid-column: span 2;
}
@media (max-width: 479px) {
  .projects__list-item {
    grid-column: 1/1;
  }
}
@media (max-width: 1200px) {
  .projects__list-item:nth-child(3) {
    grid-column: span 4;
  }
}
@media (max-width: 991px) {
  .projects__list-item:nth-child(3) {
    grid-column: span 2;
  }
}
@media (max-width: 479px) {
  .projects__list-item:nth-child(3) {
    grid-column: 1/1;
  }
}
@media (max-width: 1200px) {
  .projects__list-item:nth-last-child(3) {
    order: 2;
  }
}
@media (max-width: 479px) {
  .projects__list-item:nth-last-child(3) {
    grid-column: 1/1;
  }
}
.projects__list-item_big {
  grid-column: span 6;
}
@media (max-width: 1200px) {
  .projects__list-item_big {
    grid-column: span 5;
  }
}
@media (max-width: 991px) {
  .projects__list-item_big {
    grid-column: span 6;
  }
}
@media (max-width: 479px) {
  .projects__list-item_big {
    grid-column: 1/1;
  }
}
.projects__list-item_middle {
  grid-column: span 3;
}
@media (max-width: 479px) {
  .projects__list-item_middle {
    grid-column: 1/1;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 25px 30px;
}
@media (max-width: 1200px) {
  .contacts__container {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 24px;
  }
}
@media (max-width: 991px) {
  .contacts__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    row-gap: 30px;
  }
}
@media (max-width: 479px) {
  .contacts__container {
    grid-template-rows: auto 450px auto;
    row-gap: 30px;
  }
}
.contacts__place {
  grid-column: span 2;
}
@media (max-width: 1200px) {
  .contacts__place {
    grid-column: span 5;
  }
}
@media (max-width: 991px) {
  .contacts__place {
    grid-column: 1/span 3;
  }
}
@media (max-width: 1200px) {
  .contacts__form {
    grid-column: span 3;
  }
}
@media (max-width: 991px) {
  .contacts__form {
    grid-row-start: 3;
    grid-column: 1/span 2;
  }
}
@media (max-width: 479px) {
  .contacts__form {
    grid-column: span 3;
  }
}
.contacts__title {
  grid-column: span 3;
}
@media (max-width: 1200px) {
  .contacts__title {
    grid-column: span 8;
  }
}
@media (max-width: 991px) {
  .contacts__title {
    grid-column: span 3;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
}
@media (max-width: 1200px) {
  .footer__container {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 767px) {
  .footer__container {
    grid-template-columns: 1fr auto;
  }
}
@media (max-width: 479px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 58px;
  }
}
.footer__left {
  grid-column: span 3;
}
@media (max-width: 767px) {
  .footer__left {
    grid-column: 1/1;
    grid-row: 1/1;
  }
}
@media (max-width: 479px) {
  .footer__left {
    grid-row-start: 2;
  }
}
.footer__center {
  grid-column: 5/span 4;
}
@media (max-width: 1200px) {
  .footer__center {
    margin-left: 8px;
    grid-column: 4/span 3;
  }
}
@media (max-width: 991px) {
  .footer__center {
    display: none;
  }
}
.footer__right {
  justify-self: end;
  grid-column: -3/span 2;
}
@media (max-width: 767px) {
  .footer__right {
    grid-area: 1/-1/1/1;
  }
}
@media (max-width: 479px) {
  .footer__right {
    justify-self: center;
  }
}